h1 {
  font-size: 32px;
  color: #D3D3D3; margin: 0 auto;
font-family: 'PT Serif Caption', serif;
font-family: 'Noto Serif JP', serif; background-color:#33485e; text-align: center;height: 42px;}

h25 {
   flex-direction: row;
}

h13 {
  font-family: PT Serif Caption, serif;
}

h14 {
  font-family: Noto Serif JP, serif;
}

#one {
  background-color: #B3BFFE; width: 100px; height:100px;
}

#two {
  background-color: #3B83F5; width: 100px; height: 100px;
}

#three {
  background-color: #2AD6FF; width: 100px; height: 100px;
}

#four {
  background-color: #2135EB; width: 100px; height: 100px;
}

#five {
  background-color: #2CFFE3; width: 100px; height: 100px;
}

#work {
  font-size: 30px;
}

.pic {
    text-align: center;
}

.socials {

}

.built {

}

li{
  list-style-type: none; display: inline; margin: 0 7vw; font-size: 3vh;
}
a {
  text-decoration: none; color: #D3D3D3; padding: 2vw; font-family: 'PT Serif Caption', serif;
}
nav {
  width: 100vw;background-color: #33485e;
}

body {
  margin: 0;background-color: 	#D3D3D3;
}
