h1 {
  font-size: 32px;
  color: #33485e; margin: 0 auto;
font-family: 'PT Serif Caption', serif;
font-family: 'Noto Serif JP', serif; background-color:#B3BFFE; text-align: center;}

h25 {
   flex-direction: row;
}

h13 {
  font-family: PT Serif Caption, serif;
}

h14 {
  font-family: Noto Serif JP, serif;
}

#one {
  background-color: #B3BFFE; width: 100px; height:100px;
}

#two {
  background-color: #3B83F5; width: 100px; height: 100px;
}

#three {
  background-color: #2AD6FF; width: 100px; height: 100px;
}

#four {
  background-color: #2135EB; width: 100px; height: 100px;
}

#five {
  background-color: #2CFFE3; width: 100px; height: 100px;
}

#work {
  font-size: 30px;
}

.pic {
    text-align: center;
}

.socials {

}

.built {

}

li{
  list-s;tyle-type: none; display: inline; margin: 0 2vw; font-size: 3vh
}
a {
  text-decoration: none; color: black; padding: 2vw; font-family: 'PT Serif Caption', serif;
}
nav {
  width: 100vw;background-color: #D6EFFF;
}

body {
  margin: 0;
}

a: hover{
  background-color: #C6E9FF;
}

.navi {
  margin: 0;padding: 0; display: flex;background-color: #D6EFFF;
}
.socials {
  margin: 0;padding: 0; display: flex;background-color: #D6EFFF; float: right;width: 72%;font-family: 'PT Serif Caption', serif;width: 100vw;
}
