<h1> {
font-family: helvetica,sans-serif;
}

h5 {
font-family: helvetica;font-size: 14pt;font-style: italic;
}
h6 {
font-family: helvetica;font-size: 14pt;font-style: italic;
}

<p> {
font-family: georgia, serif font-size: 13px;
}
#content {
  margin:0;
  width:740px; font-family:helvetica
}

blockquote {
  font size: 16px; font-style: italic; font-family: helvetica, sans-serif;
  margin-top: 15px; margin-bottom: 15px; color: red; margin-left: 50px; padding-left: 15px;border-left: 4px solid #ccc;
}
