h1 {font-size: 32px;
color: #33485e; margin: 0 auto;
font-family: 'PT Serif Caption', serif;
font-family: 'Noto Serif JP', serif; background-color:#B3BFFE; text-align: center;}

li{
  list-style-type: none; display: inline; margin: 0 7vw; font-size: 3vh;
}
a {
  text-decoration: none; color: #F9E4B7; padding: 2vw; font-family: 'PT Serif Caption', serif;
}
nav {
  width: 100vw;background-color: 	#D3D3D3;
}

body {
  margin: 0;
}

a: hover{
  background-color: #C6E9FF;
}
