h1 {
  text-align: center
}

p {
  text-align: left; font-size: 22px; margin: 30px auto; padding-left: 100px; padding-right: 100px; line-height: 1.5; background-color:#7b889e; width: 1100px;
}
.image {
    margin:0 auto;
}
h2 {
  text-align: center; font-size: 15px;
}
h3 {
  font-size: 12px;
}
.image2 {
  text-align: center; margin: 50px auto;
}
.image3 {
  text-align: center; margin: 50px auto;
}
.image4 {
  text-align: center; margin: 50px auto; font-size: 12px;
}
 body {
   background-color: #23395d; width: 1100px;
 }
.Heading {
  background-color: #7b889e; width: 1100px;
}
