h1 {
  font-size: 36px;
  color: #33485e;
}
font-family: 'PT Serif Caption', serif;
font-family: 'Noto Serif JP', serif;

h13 {
  font-family: PT Serif Caption, serif;
}

h14 {
  font-family: Noto Serif JP, serif;
}

#one {
  background-color: #B3BFFE; width: 100px; height:100px;
}

#two {
  background-color: #3B83F5; width: 100px; height: 100px;
}

#three {
  background-color: #2AD6FF; width: 100px; height: 100px;
}

#four {
  background-color: #2135EB; width: 100px; height: 100px;
}

#five {
  background-color: #2CFFE3; width: 100px; height: 100px;
}
